NEXT_PUBLIC_API_ACCOUNT_URL=http://localhost:9001
NEXT_PUBLIC_API_MEDIA_URL=http://localhost:9002
NEXT_PUBLIC_API_PRODUCT_URL=http://localhost:9003
NEXT_PUBLIC_API_PURCHASE_URL=http://localhost:9004
NEXT_PUBLIC_API_SESSION_URL=http://localhost:9005
NEXT_PUBLIC_APP_ENV=debug
PORT=9008
